{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{
            text-align: center;
            font-size: 50px;
            padding: 30px;
        }
        p{
            float: center;
            padding: 80px;
            font-weight: bold;
        }
    </style>
    <meta charset="UTF-8">
    <title>Contact Info</title>
</head>
<body>
    <h1> How do you contact me? </h1>
    <p>The best way to contact me is sending a gmail to my gmail address (juho.korhonent@gmail.com).
        If you want to message me on my social medias instead the buttons are above. If you want to call instead, then my phone number is +358 4515 32 839.
    If you have a job offering i would prefer for you to call or send a gmail. If you want to contact me about something else i prefer my social medias,
        but calling or messaging are fine also. Feel free to also dm me on discord (Alpha Q#4542) I look forward to hearing from you! </p>
</body>
</html>
{% endblock %}